.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialog a.activ {
    color: gold;
}
.dialog a {
    text-decoration: none;
}
.dialogs__items {
    padding: 10px;
}
.dialogs__items .active {
    color: gold;
}
.messages {
 padding: 10px;
}
.messages .message {

}